/* style.css */

body {
    font-family: Arial, sans-serif;
    font-size: 65px;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0px;
    width: 400px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin-left: 25px;
}

h1 {
    color: #333;
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0px;
}

#popup{
    font-size: 35px;
    position: sticky;
    position: relative;
    left: 15px;
    color: transparent;
}

.line {
    color: black;
    background-color: white;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: solid black 2px;
    margin: 2px;
    border-radius: 4px;
}

.guess{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: gray;
    padding: 3px;
    height: 70px;
    /* border: solid red 2px; */
}

.display{
    display: flex;
    flex-direction: column;
    border: solid blue 2px;
}
.mainInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
#playerGuess{
    font-size: 40px;
    width: 150px;
}
#enter{
    width: 75px;
    margin-top: 2px;
}

#keyboard{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    align-items: center;
}

#row1{
    display: flex;
    flex-direction: row;
    /* border: 2px red solid; */
}

#row2{
    display: flex;
    flex-direction: row;
    /* border: 2px green solid; */
}

#row3{
    display: flex;
    flex-direction: row;
    /* border: 2px blue solid; */
}

.key{
    height: 40px;
    width: 35px;
    font-size: 20px;
    margin: 1px;
}

.sideKey{
    margin: 1px;
    width: 60px;
    height: 40px;
}