*{
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url("images/background.jpg")
}

.header{
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
    text-align: center;
    margin: 15px;
    padding:3px;
    color: red;
    display: flex;
    background-color: white;
    border: 2px black solid;
    border-radius: 15px;
    justify-content: center;
}

.links{
    display: flex;
    border: 2px white solid;
    margin: 15px;
    padding: 3px;
    justify-content: space-evenly;
}

.searchInput{
    z-index: 999;
    background-color: white;
    color: white;
}

.images{
    width: 100%;
    display: flex;
}

.caption{
    text-align: center;
}

.displayContainer{
    display: flex;
}

.displayLeft{
    padding: 0px;
    width: 0px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    order: 1;
}

.openImage{
    min-width: 100%;
}

.displayRight{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    /* border: 5px solid green; */
    border-radius: 12px;
    padding-top: 1%;
    padding-left: .4%;
    padding-right: .4%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
    order: 2;
}

.picture{
    align-self: flex-end;
    margin: 2px;
    width: 19%;
}

.caption{
    color: white;
}


.infoBlurb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}